body {
    background-color: white;
}

.login-card-container {
    margin-top: 220px;
    display: flex;
    /* To make the card containers flex containers */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Stack card content vertically */
    width: 100%;
}

.login-card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: #d7c8d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
    max-width: 750px;
    width: 65%;
    height: 680px;
    padding: 60px 120px;
    /* Top/Bottom - Left/Right */
}

.Return-Landing-Login1 {
    top: 48px;
    left: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.Return-Landing-Login-left {
    max-width: 70%;
    max-height: 70%;
}

.Return-Landing-Login-Circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.Return-Landing-Login-Circle:hover {
    background: #fee08d;
}

.welcome-back-to {
    font-size: 24px;
    font-family: Gilroy-SemiBold;
    margin-bottom: 18px;
}

.Login-header {
    font-size: 38px;
    font-family: Gilroy-Bold;
    margin-bottom: 25px;
}

.input-label1 {
    font-size: 18px;
    font-family: Gilroy-SemiBold;
    margin-bottom: 10px;
}

.Login-emailField {
    border: 0;
    font-family: Gilroy-Regular;
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.Login-Password-inputLabel {
    font-size: 18px;
    font-family: Gilroy-SemiBold;
    margin-bottom: 10px;
    margin-top: 25px;
}

.Login-Password-inputField {
    border: 0;
    font-family: Gilroy-Regular;
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.Login-emailField:hover,
.Login-Password-inputField:hover {
    outline: 0;
    border: 2px solid #8a5a8e;
}

.Login-emailField:focus,
.Login-Password-inputField:focus {
    outline: 0;
    border: 2px solid #8a5a8e;
}

.Login-HideEyeIcon {
    position: absolute;
    left: calc(50% + 214px);
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.Login-forgotPassword-text:hover {
    text-decoration: underline;
    color: #793c95
}

.Login-forgotPassword-text {
    cursor: pointer;
    color: #000000;
    font-size: 13px;
    font-family: Gilroy-Bold;
    margin-bottom: 25px;
    margin-top: 10px;
}

.Login-signinButton:hover {
    background-color: #331B3B;
}

.Login-signinButton-Text {
    font-size: 20px;
    font-family: Gilroy-Bold;
    color: #fff;
    text-align: center;
}

.Login-signinButton {
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #8a5a8e;
    transition: background 0.3s ease;
    margin-bottom: 25px;
}

.GoogleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login-or-continue-with {
    font-size: 13px;
    font-family: Gilroy-Bold;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.LoginPage-google-account-login {
    margin-bottom: 25px;
    max-width: 150px;
    width: 100%;
    height: 50px;
}

.dont-have-an-account-yet-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.dont-have-an {
    color: #000000;
    font-size: 13px;
    font-family: Gilroy-SemiBold;
}

.Login-register-button {
    cursor: pointer;
    font-size: 13px;
    color: #000000;
    font-family: Gilroy-Bold;
}

.Login-register-button :hover {
    text-decoration: underline;
    color: #793c95
}

.ErrorMessages {
    color: #ff0000;
    /* Red color for the error message */
    font-size: 12px;
    margin: 5px 10px;
    font-family: Gilroy-Bold;
}

.svg-background {
    position: absolute;
    right: -40%;
    width: 80%;
    height: 80%;
    top: 0;
    overflow: hidden;
    z-index: -1;
    background-repeat: repeat;
}

.svg-background1 {
    position: absolute;
    left: -32%;
    width: 70%;
    height: 70%;
    top: 300px;
    overflow: hidden;
    z-index: -1;
}
