.login-card-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius:  40px;
  background-color: #d7c8d3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 755px;
  height: 743px;
}
.welcome-back-to {
  position: absolute;
  top: 76px;
  left: calc(50% - 250.5px);
  font-size:  24px;
  display: inline-block;
  width: 344px;
  height: 28px;
}
.or-continue-with {
  position: absolute;
  top: calc(50% + 175.5px);
  left: calc(50% - 52.5px);
}
.google-account-login {
  position: absolute;
  top: calc(50% + 195.5px);
  left: calc(50% - 79.5px);
  width: 158px;
  height: 58px;
}
.signin-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius:  10px;
  background-color: #8a5a8e;
}
.signin-button-child:hover {
  background-color: #422660;
}
.button-text2 {
  position: absolute;
  top: 24%;
  left: 43.6%;
  font-size:  20px;
  font-family: Gilroy-Bold;
  color: #fff;
  text-align: center;
}
.signin-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 460px;
  left: calc(50% - 250.5px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 50px;
}
.forgot-password,
.text-button1 {
  position: absolute;
  top: 0;
  left: 0;
}
.text-button1:hover {
  text-decoration: underline;
}
.forgot-password {
  cursor: pointer;
  top: 419px;
  left: 126px;
  width: 120px;
  height: 17px;
  color: #5c5959;
  font-family: Gilroy-Bold;
}
.dont-have-an {
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% - 145px);
}
.register-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 182px;
  width: 108px;
  height: 17px;
  color: #5c5959;
  font-family: Gilroy-Bold;
}
.dont-have-an-account-yet-parent {
  position: absolute;
  top: calc(50% + 282.5px);
  left: calc(50% - 145.5px);
  width: 290px;
  height: 17px;
}
.input-label1 {
  position: relative;
}
.textbox2 {
  border: 0;
  background-color: #fff;
  border-radius:  10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:  10px 20px;
  box-sizing: border-box;
}
.textbox2:focus,
.textbox3:focus {
  outline: 0;
  border: 2px solid #8a5a8e;
}
.passwordfield {
  position: absolute;
  top: 185px;
  left: calc(50% - 250px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap:  10px;
}
.clarityeye-hide-line-icon {
  position: absolute;
  top: calc(50% + 99.5px);
  left: calc(50% + 214px);
  border-radius:  40px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.textbox3 {
  border: 0;
  font-family: Gilroy-Regular;
  font-size:  14px;
  background-color: #fff;
  border-radius:  10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:  10px 20px;
  box-sizing: border-box;
}
.emailfield1,
.login {
  position: absolute;
  left: calc(50% - 250px);
}
.emailfield1 {
  top: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.login {
  top: calc(50% - 133.5px);
  font-size:  38px;
  font-family:  Gilroy-Bold;
}
.login-info {
  position: absolute;
  top: 128px;
  left: calc(50% - 250.5px);
  width: 500px;
  height: 267px;
  font-size: 18px;
}
.login-card1,
.login-page2 {
  position: absolute;
  top: 216px;
  left: 486px;
  width: 755px;
  height: 743px;
}
.login-page2 {
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
}
.login-page1 {
  position: relative;
  width: 100%;
  height: 1117px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Gilroy-SemiBold;
}
