.login-card-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius:  40px;
    background-color: #d7c8d3;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 752px;
    height: 464px;
  }
  .send-code-button-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius:  10px;
    background-color: #8a5a8e;
    cursor: pointer;
  }
  .send-code-button-child:hover {
    background-color: #422660;
  }
  .button-text2 {
    position: absolute;
    top: 24%;
    left: 39.4%;
    font-size:  20px;
    font-family:  Gilroy-Bold;
    color: #fff;
    text-align: center;
  }
  .send-code-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 265px;
    left: calc(50% - 255px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 50px;
  }
  .emailfield1 {
    position: absolute;
    top: 170px;
    left: calc(50% - 57px);
  }
  .reset-your-password {
    position: absolute;
    top: calc(50% - 157.5px);
    left: calc(50% - 255px);
  }
  .enter-your-email {
    margin: 0;
  }
  .enter-your-email-container {
    position: absolute;
    top: 55px;
    left: calc(50% - 255px);
    font-size: 22px;
    font-family:  Gilroy-Regular;
  }
  .card-info {
    position: absolute;
    top: 79px;
    left: calc(50% - 249px);
    width: 510px;
    height: 315px;
  }
  .login-card {
    position: absolute;
    top: 323px;
    left: 486px;
    width: 752px;
    height: 464px;
  }
  .email-address,
  .textbox5 {
    position: absolute;
    top: 543px;
    left: 614px;
    font-size:  18px;
    font-family:  Gilroy-SemiBold;
  }
  .textbox5 {
    border: 0;
    font-family:  Gilroy-Regular;
    font-size:  14px;
    background-color: #fff;
    top: 572px;
    left: 613px;
    border-radius:  10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .textbox5:focus {
    outline: 0;
    border: 2px solid #8a5a8e;
  }
  .group-child {
    border-radius:  71px;
    background-color: #fff;
  }
  .group-child:hover {
    background-color: #8a5a8e;
  }
  .arrow-circle-inner,
  .group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    height: 66%;
    width: 29.57%;
    top: 17%;
    right: 37.5%;
    bottom: 17%;
    left: 32.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1:hover,
  .vector-icon4:hover {
    border: 4.8px solid #fff;
    box-sizing: border-box;
  }
  .vector-icon2 {
    height: 100%;
    width: 100%;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: 100%;
    opacity: 0;
  }
  .arrow-circle1,
  .vuesaxlineararrow-left {
    position: absolute;
    height: 55.38%;
    width: 55.38%;
    top: 22.31%;
    right: 22.31%;
    bottom: 22.31%;
    left: 22.31%;
  }
  .arrow-circle1 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    display: none;
  }
  .back-arrow,
  .group-item {
    position: absolute;
    top: 402px;
    left: 527px;
    width: 50px;
    height: 50px;
  }
  .group-item {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius:  71px;
    background-color: #fff;
  }
  .vector-icon3,
  .vector-icon4 {
    position: absolute;
    height: 83.34%;
    width: 46.91%;
    top: 8.34%;
    right: 28.83%;
    bottom: 8.33%;
    left: 24.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon4 {
    height: 100%;
    width: 100%;
    top: 100%;
    right: -100%;
    bottom: -100%;
    left: 100%;
    opacity: 0;
  }
  .vector-icon4:hover {
    border: 1px solid #fff;
  }
  .arrow-circle2,
  .back-arrow1 {
    position: absolute;
    cursor: pointer;
  }
  .arrow-circle2 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  }
  .back-arrow1 {
    top: 402px;
    left: 538px;
    width: 50px;
    height: 50px;
  }
  .login-page {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1728px;
    height: 1117px;
    overflow: hidden;
  }
  .reset-password1 {
    position: relative;
    width: 100%;
    height: 1117px;
    text-align: left;
    font-size:  38px;
    color: #000;
    font-family:  Gilroy-Bold;
  }
  