body {
    background-color: white;
}

.Reset-Password-Container {
    margin-top: 200px;
    display: flex; /* To make the card containers flex containers */
    align-items: center;
    justify-content: center;
    flex-direction: column;  /* Stack card content vertically */  
    width: 100%;
}

.Reset-Password-Card {
    position: relative;
    display: flex; 
    flex-direction: column;
    border-radius:  40px;
    background-color: #d7c8d3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45);
    max-width: 750px;
    width: 65%;
    height: 420px;
    padding: 60px 120px; /* Top/Bottom - Left/Right */
}

.reset-password-title {
    font-size:  30px;
    font-family:  Gilroy-Bold;
    margin-bottom: 15px;
}

.reset-password-text {
    font-size: 17px;
    font-family:  Gilroy-SemiBold;
    margin-bottom: 30px;
}

.email-address-title {
    font-size:  18px;
    font-family:  Gilroy-Bold;
    margin-bottom: 10px;
}

.email-address-field {
    border: 0;
    font-family: Gilroy-Regular;
    font-size:  14px;
    background-color: #fff;
    border-radius:  10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:  10px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.email-address-field:hover {
    outline: 0;
    border: 2px solid #8a5a8e;
}

.email-address-field:focus {
    outline: 0;
    border: 2px solid #8a5a8e;
}

.send-code-button:hover {
    background-color: #422660;
}

.Send-Code-Button-Text {
    font-size:  20px;
    font-family: Gilroy-Bold;
    color: #fff;
    text-align: center;
}

.send-code-button {
    cursor: pointer;
    border: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
    max-width: 500px;
    width: 100%;
    height: 50px;
    border-radius:  10px;
    background-color: #8a5a8e;
    transition: background 0.3s ease;
}

/* ----------------------------- */

.Return-to-Login {
    top: 55px;
    left: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.arrow-left1 {
    max-width: 70%;
    max-height: 70%;
}

.Return-to-Login-Circle {
    height: 100%;
    width: 100%;
    border-radius:  50%;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.Return-to-Login-Circle:hover {
    background: #fee08d;
}

