.account-setting-page {
    display: flex;
    justify-content: center;
    max-width: 1728px;
    min-height: 2095px;
    margin-top: 120px;
}

.Settings-Card {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: #d8d8d8;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    max-width: 1053px;
    width: 65%;
    min-height: 1602.9px;
    height: 100%;
    padding: 120px 180px 69px 179px;
}

.Card-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.account-settings {
    font-size: 50px;
    font-family: Gilroy-Bold;
}

.settings-edit-button {
    position: relative;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.edit-button-image {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    min-width: 40px;
    min-height: 40px;
    width: 100%;
    height: 100%;
}

.settings-subheadings {
    font-size: 35px;
    font-family: Gilroy-Bold;
    margin-bottom: 40px;
}

.settings-input-label {
    font-family: Gilroy-SemiBold;
    font-size: 25px;
}


.instructor-label {
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin: 10px;
}

.cursor-notAllowed {
    cursor: not-allowed;
}

.settings-textbox1 {
    border: 0;
    font-family: Gilroy-Regular;
    font-size: 16px;
    background-color: fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    max-width: 812px;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 20px 0 60px 0;
    opacity: 0.6;
    pointer-events: none;
}

/* css if the input can be editable*/
.settings-textbox1-edit{  
    border: 0;
    font-family: Gilroy-Regular;
    font-size: 14px;
    background-color: fff;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    max-width: 812px;
    width: 100%;
    height: 50px;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 20px 0 60px 0;
}


.settings-checkbox-group2 {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.instructor-icon{
    width: 40px;
    height: 40px;
    opacity: 0.7;
    margin-left: 5px;
}

.settings-delete-account {
    position: relative;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #b60b0b;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 401.5px;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    margin-right: 8px;
}

.settings-button-label {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 20px;
}

.settings-save-changes {
    position: relative;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #8A5A8E;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 401.5px;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
}

.logout-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    height: 39px;
    display: block;
    margin: 0 auto;
}

.logout-button-text {
    position: relative;
    font-size: 36px;
    text-decoration: underline;
    font-family: Gilroy-Bold;
    color: #000;
    text-align: left;
}

.settings-ErrorMessages {
    color: #ff0000;
    /* Red color for the error message */
    font-size: 12px;
    margin: 5px 10px;
    font-family: Gilroy-Bold;
  }