

.Top-Section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.Stacked-Waves {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.IHome-Page-Cont1 {
    position: relative;
    max-width: 850px;
    width: 90%;
    height: 400px;
    text-align: left;
    margin-left: 70px;
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scale: 0.9;
}

.your-gateway-to {
    position: relative;
    display: inline-block;
    font-family:  Gilroy-Bold;
    font-size: 55px;
}
  
.unleash-the-power {
    position: relative;
    margin-top: 15px;
    font-size:  30px;
    font-family: Gilroy-Regular;
    height: 70px;
}

.HomePageButtons {
    display: flex;
    position: relative;
}

.explore-animation-button {
    cursor: pointer;
    border: 3px solid #000;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
    width: 390px;
    height: 60px;
    transition: background 0.3s ease;

}

.explore-animations {
    position: relative;
    font-size:  20px;
    font-family:  Gilroy-Bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-animations:hover {
    color: #fff;
}

.explore-animation-button:hover {
    background-color: #000;
    color: #fff;
}

.try-out-quizzes-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #8a5a8e;;
    position: relative;
    left: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 60px;
    transition: background 0.3s ease;
}

.try-out-quizzes {
    position: relative;
    font-size:  20px;
    font-family:  Gilroy-Bold;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.try-out-quizzes:hover {
    color: #fff;
}

.try-out-quizzes-button:hover {
    background-color: #422660;
    color: #fff;
}

.ServerDude-Image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 75%;
    overflow: hidden;
    max-height: 75%;
}

.Features-Card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 950px;
    overflow: hidden; /* Ensure the pseudo-element doesn't extend beyond the container */
}

.Features-Card::before {
    content: '';
    position: absolute;
    top: 80px; 
    bottom: 80px;
    width: 100%;
    background-color: #f7f3d5; 
    filter: blur(40px); 
    z-index: -1; /* Place the pseudo-element behind the content */
}

.Features-Card-Title {
    position: relative;
    margin-top: 20px;
    font-size:  35px;
    font-family: Gilroy-Bold;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.Top-Features,
.Bottom-Features {
    display: flex;
    justify-content: center;
    align-items: center;
}

.schema-selection-button,
.create-quiz-button,
.Saved-Query-Animation-button,
.Saved-Quizzes-button {
    cursor: pointer;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 550px;
    width: 60%;
    height: 350px;
    border-radius: 30px;
    background-color: #e2cddc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    scale: 0.9;
    transition: background 0.3s ease;
}

.Schema-Selection-Description,
.Create-Quiz-Description,
.Saved-Query-Animation-Description,
.Saved-Quizzes-Description {
    position: relative;
    top: 15px;
    font-size: 17.5px;
    line-height: 25px;
    font-family: Gilroy-SemiBold;
    color: #5c5a5a;
    text-align: left;
}

.Schema-Selection-Image {
    position: relative;
    margin-top: 20px;
    width: 165px;
    height: 140px;
    object-fit: cover;
}

.schema-selection-for {
    position: relative;
    margin-top: 20px;
    font-size:  23px;
    font-family:  Gilroy-Bold;
    color: #000;
    text-align: center;
}

.create-quiz,
.saved-query-animations,
.saved-quizzes {
    position: relative;
    margin-top: 27px;
    font-size: 23px;
    font-family: Gilroy-Bold;
    color: #000;
    text-align: center;
}

.Create-Quizzes-Image {
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 130px;
    object-fit: cover;
}

.Saved-Query-Animation-Image,
.Saved-Quizzes-Image {
    position: relative;
    margin-top: 20px;
    width: 150px;
    height: 130px;
    object-fit: cover;
}

.schema-selection-button:hover,
.create-quiz-button:hover,
.Saved-Query-Animation-button:hover,
.Saved-Quizzes-button:hover {
    background-color: #f7e9c1;
}
