.IntroCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

.StyleVector1 {
    position: absolute;
    width: 217px;
    height: 30px;
    left: 3.5px;
    top: 165px;
    background: #FDC221;
    /* border: 20px #FDC221 solid; */
}

.IntroSection1Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* Center content horizontally */
    text-align: left;
    /* Center text content */
    padding-right: 350px;
}

.UnleashThePowerOfSqlLearning {
    width: 548px;
    position: relative;
    color: #331B3B;
    font-size: 55px;
    font-family: Gilroy-Bold;
    line-height: 63px;
    word-wrap: break-word;
}

.Description {
    width: 630px;
    margin-top: 30px;
    position: flex;
    color: black;
    font-size: 18px;
    font-family: Gilroy-SemiBold;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.Ellipse1 {
    width: 250px;
    height: 250px;
    top: 60px;
    right: 50px;
    background: #663D79;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoImage {
    max-width: 70%;
    max-height: 70%;
}

.SignupAndLoginButtons {
    display: flex;
    position: flex;
    margin-top: 30px;
}

.LoginButton {
    width: 310px;
    height: 40px;
    background: #fce196;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: background 0.3s ease;
}

.SignUpButton {
    width: 310px;
    height: 40px;
    background: #a988ac;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 2%;
    transition: background 0.3s ease;
}

.ButtonText {
    text-align: center;
    font-size: 18px;
    font-family: 'Gilroy-Bold';
    word-wrap: break-word;
}

.LoginButton:hover,
.SignUpButton:hover {
    /* background: #331B3B;
    color: white; */
}

.LoginButton:active,
.SignUpButton:active {
    /* background: #331B3B;
    color: white; */
}

.LoginButton,
.SignUpButton {
    text-decoration: none;
}

/* ----------------------Features--------------------------- */

.TopFeaturesContainer {
    display: flex;
    position: flex;
    flex-direction: column;
    margin-top: 100px;
}

.LFeatures {
    text-align: center;
    color: #5C5959;
    font-size: 60px;
    font-family: 'Gilroy-Bold';
    word-wrap: break-word;
    position: flex;
    margin-bottom: 10px;
}

.ForLearners {
    text-align: center;
    color: #5C5959;
    font-size: 35px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    position: flex;
}

.AnimationFeatureCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    height: 500px;
    z-index: 0;
}

.AutoGradingFeatureCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    height: 500px;
    z-index: 0;
}

.BottomFeaturesContainer {
    display: flex;
    position: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ForInstructors {
    text-align: center;
    color: #5C5959;
    font-size: 35px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    position: flex;
}

/* ----------------------Meet The Team---------------------- */

.MeetTheTeamContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MeetTheTeamCard {
    width: 950px;
    height: 590px;
    background: #daccd5;
    border-top-right-radius: 290px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 290px;
    border-bottom-left-radius: 50px;
    /* border-radius: 300px; */
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.MTTTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.BarL,
.BarR {
    width: 150px;
    /* Equal width for both bars */
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #763f93, #ffd452);
    margin-top: 30px;
}

.MeetTheTeamTitle {
    text-align: center;
    color: #4a4848;
    font-size: 27px;
    font-family: 'Gilroy-Bold';
    word-wrap: break-word;
    position: flex;
    margin-top: 30px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    padding: 0px 30px;
}

.TopRowIcons {
    display: flex;
    justify-content: center;
    /* Center the ellipses horizontally */
    align-items: center;
    /* Center the ellipses vertically */
}

.Ellipse2,
.Ellipse3,
.Ellipse4 {
    width: 150px;
    height: 150px;
    background: #F6E9C4;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content vertically */
    justify-content: center;
    /* Center the content horizontally */
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    margin: 0 50px;
    margin-top: 40px;
}

.TehamiImageIcon {
    width: 80px;
    height: 100px;
}

.HibaImageIcon,
.RidaImageIcon {
    width: 70px;
    height: 100px;
}

.TehamiName {
    text-align: center;
    margin-top: 15px;
    color: #4a4848;
    font-size: 19px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    width: 250px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.HibaName,
.RidaName {
    text-align: center;
    margin-top: 15px;
    color: #4a4848;
    font-size: 19px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.BottomRowIcons {
    display: flex;
    justify-content: center;
    /* Center the ellipses horizontally */
    align-items: center;
    /* Center the ellipses vertically */
}

.Ellipse5,
.Ellipse6 {
    width: 150px;
    height: 150px;
    background: #F6E9C4;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    margin: 0 50px;
    margin-top: 25px;

}

.EjazImageIcon {
    width: 80px;
    height: 100px;
}

.NihalImageIcon {
    width: 70px;
    height: 100px;
}

.EjazName {
    text-align: center;
    margin-top: 15px;
    color: #4a4848;
    font-size: 19px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    width: 239px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.NihalName {
    text-align: center;
    margin-top: 15px;
    color: #4a4848;
    font-size: 19px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
    width: 234.5px;
    text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.AboutUsDesriptionsCont {
    text-align: center;
    width: 100%; 
    max-width: 590px; 
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px; 
}

.AboutUsDesriptions {
    color: #5C5959;
    font-size: 20px;
    font-family: 'Gilroy-SemiBold';
    word-wrap: break-word;
}


.svg-background {
    position: absolute;
    right: -40%;
    width: 80%;
    height: 80%;
    top: 0;
    overflow: hidden;
    z-index: -1;
    background-repeat: repeat;
}

.svg-background2 {
    position: absolute;
    left: -35%;
    width: 80%;
    height: 80%;
    top: 1400px;
    overflow: hidden;
    z-index: -1;
    transform: scaleX(-1) scaleY(-1);
}

.svg-background1 {
    position: absolute;
    left: -32%;
    width: 70%;
    height: 70%;
    top: 300px;
    overflow: hidden;
    z-index: -1;
}

.svg-background3 {
    position: absolute;
    right: -32%;
    width: 80%;
    height: 80%;
    top: 1000px;
    overflow: hidden;
    z-index: -1;
    background-repeat: repeat;
}

.svg-background4 {
    position: absolute;
    right: -40%;
    width: 80%;
    height: 80%;
    top: 2100px;
    overflow: hidden;
    z-index: -1;
}

.AboutUsButtonCont{
    width: 100%; 
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.AboutUsButton{
    width: 310px;
    height: 40px;
    background: #FDC221;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: background 0.3s ease;
}

