.back-card {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.you-have-unsaved {
  position: absolute;
  height: 26.97%;
  width: 74.43%;
  top: 29.05%;
  left: 12.85%;
  line-height: 50px;
  font-family: Gilroy-SemiBold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leave-animation-page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  display: inline-block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.query-animation-title {
  position: absolute;
  height: 9.34%;
  width: 60.38%;
  top: 17.63%;
  right: 19.81%;
  bottom: 73.03%;
  left: 19.81%;
  font-size: 36px;
}

.save-leave-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 10px;
  background-color: #b60b0b;
}

.button-text1 {
  position: absolute;
  top: 24%;
  left: 42.8%;
}

.save-leave-button {
  position: absolute;
  height: 10.37%;
  width: 60.02%;
  top: 58.09%;
  right: 19.93%;
  bottom: 31.54%;
  left: 20.05%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.cancel-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 10px;
  border: 2px solid #000;
  box-sizing: border-box;
}

.cancel1 {
  position: absolute;
  height: 100%;
  top: 0%;
  left: calc(50% - 200px);
  font-size: 20px;
  font-family: Gilroy-Bold;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.cancel1:hover {
  color: white;
}

.cancel {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 10.58%;
  width: 60.02%;
  top: 71.99%;
  right: 19.81%;
  bottom: 17.43%;
  left: 20.17%;
  border-radius: 10px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.cancel:hover {
  background-color: black;
  color: white;
}

.delete-confirmation-pop-up {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}

.logout-confirmation-pop-up {
  width: 833px;
  height: 482px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Gilroy-Bold;
}