.Header1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

  
.Datawiz {
    position: absolute;
    top: 20px;
    left: 30px;
}
  
.DatawizTextBold,
.DatawizTextNormal {
    color: black;
    font-size: 44px;
}
  
.DatawizTextNormal {
    font-weight: 400;
    font-family: "Gilroy-Regular";
}

.DatawizTextBold {
    font-weight: 700;
    font-family: "Gilroy-Black";
}
  

.ColorBar .Bar1,
.ColorBar .Bar2,
.ColorBar .Bar3,
.ColorBar .Bar4,
.ColorBar .Bar5,
.ColorBar .Bar6 {
  height: 12px;
  position: absolute;
  border-radius: 20px;
  width: 110.34px;
  top: 45px;
}

.Bar1 {
  left: 225px;
  background: #422660;
}

.Bar2 {
  left: 320px;
  background: #663D79;
}

.Bar3 {
  left: 420px;
  background: #8A5A8E;
}

.Bar4 {
  left: 520px;
  background: #A67CA2;
}

.Bar5 {
  left: 620px;
  background: #BEA3B6;
}

.Bar6 {
  left: 720px;
  background: #D6D0D2;
}
